<main>
  <div class="container">
    <div class="nav flex ai-center jc-sb">
      <h1>Relonpx</h1>
      <a href="https://api.whatsapp.com/send?phone=6282115536160&amp;text=Hi!%20Rally">Get in touch</a>
    </div>
  </div>
  <div class="container">
    <div class="section1">
      <div class="flex ai-center jc-sb">
        <img src="/assets/grid.png" style="transform: rotate(45deg);"></img>
        <a href="https://www.awakin.org/v2/read/view.php?tid=255" style="z-index: 2;"><i class="uil uil-arrow-up-right"></i></a>
      </div>
      <p>You need to know that</p>
      <h1>Everything in this<br>universe is a miracle.</h1>
    </div>
  </div>
  <div class="container">
    <div class="section2">
      <div class="z flex ai-center jc-sb">
        <div class="">
          <h1>Rally Auliansyah</h1>
          <p><span class="typed-text"></span><span class="cursor blink">&nbsp;</span></p>
        </div>
        <img src="/assets/24446.jpg" alt="">
      </div>
      <div class="shape">
        <i class="uit uit-favorite"></i>
      </div>
      <div class="shape2">
        <i class="uit uit-bookmark"></i>
      </div>
      <div class="shape3">
        <i class="uit uit-ellipsis-h"></i>
      </div>
    </div>
  </div>
  <div class="section3">
    <div class="wrap">
      <div class="card">
        <div class="e">
          <i class="uil uil-user-check"></i>
          <h1>Great Humans</h1>
          <p>Raise great human beings that will make the world a better place</p>
        </div>
        <div class="font">
          <h1>O</h1>
        </div>
      </div>
      <div class="card" style="background: #CEC7BF; color: #12333A;">
        <div class="e">
          <i class="uil uil-analysis" style="color: #CEC7BF;"></i>
          <h1>Always Be Improving</h1>
          <p>Take the time to learn, reflect and improve.</p>
        </div>
        <div class="font">
          <h1>O</h1>
        </div>
      </div>
      <div class="card" style="background: #3E8F99;">
        <div class="er">
          <i class="uil uil-user-plus"></i>
          <h1>Positive Example</h1>
          <p>Be a positve example of a great human being in everything i do.</p>
        </div>
        <div class="font">
          <h1>O</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 style="font-size: .8rem; color: #CEC7BF;">Recent Project</h1>
    <div class="port">
      <div class="seratus">
        <img src="/assets/screencapture-localhost-5173-2024-02-11-17_49_35.png" alt="">
        <img src="assets/mobile.png" alt="">
      </div>
      <img src="/assets/screencapture-127-0-0-1-3000-2024-02-11-18_36_56.png" alt="" class="img1">
      <div class="seratus">
        <img src="/assets/asdas.png" alt="">
        <div class="coming">
          <i class="uit uit-exclamation-circle"></i>
          <h1>Coming<br>soon</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="contact">
      <div class="flex ai-center jc-sb" style="position: relative; z-index: 2;">
        <div class="">
          <p style="font-size: .6rem;">Need help?</p>
          <h1 style="font-size: 1.1rem; font-weight: 600;">Let's have a talk</h1>
        </div>
        <a href="https://api.whatsapp.com/send?phone=6282115536160&amp;text=Hi!%20Rally"><i class="uil uil-whatsapp" style="font-size: 1.2rem;"></i></a>
      </div>
      <div class="shot1"></div>
      <div class="shot2"></div>
      <div class="shot3">
        <i class="uil uil-triangle" style="color: #1a4a5533; font-size: 3rem; font-weight: 600;"></i>
      </div>
      <div class="shot4">
        <h1 style="color: #1a4a5533; font-size: 2rem; font-weight: 600;">+</h1>
      </div>
      <div class="shot5">
        <i class="uil uil-elipsis-double-v-alt" style="color: #1a4a5533; font-size: 1.5rem; font-weight: 600; transform: rotate(180deg);"></i>
      </div>
    </div>
  </div>
  <a class="scrollBtn">
    <i class="uil uil-arrow-up"></i>
  </a>
  <footer>
    <div class="left-f">
      <h1 style="font-size: 1rem; color: #CEC7BF;">Relonpx</h1>
      <p style="font-size: .5rem;">&copy;2024 Relonpx. All Rights Reserved</p>
    </div>
  </footer>
</main>